USE [QLVT]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP PROCEDURE [dbo].[SP_DANGNHAP]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] DROP CONSTRAINT [repl_identity_range_89237556_5394_4158_BA3F_10923592A674]
GO
ALTER TABLE [dbo].[NHAN_VIEN] DROP CONSTRAINT [repl_identity_range_6D4960E5_E545_47B3_B0E2_9DF2D23930BA]
GO
ALTER TABLE [dbo].[NHAN_VIEN] DROP CONSTRAINT [CK_NHAN_VIEN]
GO
ALTER TABLE [dbo].[NHAN_VIEN] DROP CONSTRAINT [CK_NGAY_SINH]
GO
ALTER TABLE [dbo].[NHA_CC] DROP CONSTRAINT [repl_identity_range_B19FA8FD_ADB0_4335_9403_14CF088814EB]
GO
ALTER TABLE [dbo].[KHO] DROP CONSTRAINT [repl_identity_range_52ED1E61_4993_40A4_AE56_AEA7CFF7B853]
GO
ALTER TABLE [dbo].[KHACH_HANG] DROP CONSTRAINT [repl_identity_range_D589897E_644F_45DC_BDCC_2C82EB657AEE]
GO
ALTER TABLE [dbo].[HANG_HOA] DROP CONSTRAINT [repl_identity_range_4C8686AD_B821_4EE3_BA4C_E56B85C02C78]
GO
ALTER TABLE [dbo].[DONDH] DROP CONSTRAINT [repl_identity_range_94FD036D_05EF_48F5_8139_F2C51FCCF485]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP] DROP CONSTRAINT [CK_CTPN_SOLUONG]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP] DROP CONSTRAINT [CK_CTPN_DONGIA]
GO
ALTER TABLE [dbo].[CT_HOA_DON] DROP CONSTRAINT [repl_identity_range_5B99B47F_9589_460B_A8E8_2FD319CF56E7]
GO
ALTER TABLE [dbo].[CT_HOA_DON] DROP CONSTRAINT [CK_HD_SOLUONG]
GO
ALTER TABLE [dbo].[CT_HOA_DON] DROP CONSTRAINT [CK_HD_DON_GIA]
GO
ALTER TABLE [dbo].[CT_DDH] DROP CONSTRAINT [CK_CTDDH_SOLUONG]
GO
ALTER TABLE [dbo].[CT_DDH] DROP CONSTRAINT [CK_CTDDH_DONDIA]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] DROP CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] DROP CONSTRAINT [FK_PHIEU_NHAP_KHO]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] DROP CONSTRAINT [FK_PHIEU_NHAP_DONDH]
GO
ALTER TABLE [dbo].[NHAN_VIEN] DROP CONSTRAINT [FK_NHAN_VIEN_CHINHANH]
GO
ALTER TABLE [dbo].[KHACH_HANG] DROP CONSTRAINT [FK_KHACH_HANG_CHINHANH]
GO
ALTER TABLE [dbo].[HOA_DON] DROP CONSTRAINT [FK_HOA_DON_NHAN_VIEN]
GO
ALTER TABLE [dbo].[HOA_DON] DROP CONSTRAINT [FK_HOA_DON_KHO]
GO
ALTER TABLE [dbo].[HANG_HOA] DROP CONSTRAINT [FK_HANG_HOA_LOAI_HANG_HOA]
GO
ALTER TABLE [dbo].[DONDH] DROP CONSTRAINT [FK_DONDH_NHAN_VIEN]
GO
ALTER TABLE [dbo].[DONDH] DROP CONSTRAINT [FK_DONDH_NHA_CC]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP] DROP CONSTRAINT [FK_CT_PHIEU_NHAP_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP] DROP CONSTRAINT [FK_CT_PHIEU_NHAP_HANG_HOA]
GO
ALTER TABLE [dbo].[CT_HOA_DON] DROP CONSTRAINT [FK_CT_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[CT_HOA_DON] DROP CONSTRAINT [FK_CT_HOA_DON_HANG_HOA]
GO
ALTER TABLE [dbo].[CT_DDH] DROP CONSTRAINT [FK_CT_DDH_HANG_HOA]
GO
ALTER TABLE [dbo].[CT_DDH] DROP CONSTRAINT [FK_CT_DDH_DONDH]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] DROP CONSTRAINT [MSmerge_df_rowguid_8BF812B440174BF6BBC7DBBA4A53E68A]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] DROP CONSTRAINT [DF_PHIEU_NHAP_NGAY_LAP]
GO
ALTER TABLE [dbo].[NHA_CC] DROP CONSTRAINT [MSmerge_df_rowguid_B8FADDF83EA542CDA94D4D656DAE38C8]
GO
ALTER TABLE [dbo].[LOAI_HANG_HOA] DROP CONSTRAINT [MSmerge_df_rowguid_BC6E610334B0481989376EDD96B6E1CD]
GO
ALTER TABLE [dbo].[KHO] DROP CONSTRAINT [MSmerge_df_rowguid_5D84F19FA21047B5B841A513BB697974]
GO
ALTER TABLE [dbo].[KHACH_HANG] DROP CONSTRAINT [MSmerge_df_rowguid_3D375A096C2245599FFEF77DABF35B36]
GO
ALTER TABLE [dbo].[HOA_DON] DROP CONSTRAINT [MSmerge_df_rowguid_54CB2D51A4B7468A952EEB39113F9579]
GO
ALTER TABLE [dbo].[HOA_DON] DROP CONSTRAINT [DF_HOA_DON_NGAY_LAP]
GO
ALTER TABLE [dbo].[HANG_HOA] DROP CONSTRAINT [MSmerge_df_rowguid_E7CCE131763547ABBE69DF2A6C460A19]
GO
ALTER TABLE [dbo].[HANG_HOA] DROP CONSTRAINT [DF_HANG_HOA_SO_LUOng_TON]
GO
ALTER TABLE [dbo].[DONDH] DROP CONSTRAINT [MSmerge_df_rowguid_589E2E0BF6F945BEB8A4FD7CF4A648B2]
GO
ALTER TABLE [dbo].[DONDH] DROP CONSTRAINT [DF_DONDH_NGAY_LAP]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP] DROP CONSTRAINT [MSmerge_df_rowguid_AA2C1E99D32643E18208EDFC7847DA96]
GO
ALTER TABLE [dbo].[CT_HOA_DON] DROP CONSTRAINT [MSmerge_df_rowguid_B6133DB3E8A04533BB93D666C93C64CE]
GO
ALTER TABLE [dbo].[CT_DDH] DROP CONSTRAINT [MSmerge_df_rowguid_7E241C13F8D24D38A068FE4CCA90ED1B]
GO
/****** Object:  Index [UK_HANG_HOA]    Script Date: 12/12/2022 11:13:21 PM ******/
ALTER TABLE [dbo].[HANG_HOA] DROP CONSTRAINT [UK_HANG_HOA]
GO
/****** Object:  View [dbo].[V_DS_PHANMANH1]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP VIEW [dbo].[V_DS_PHANMANH1]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[PHIEU_NHAP]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[NHAN_VIEN]
GO
/****** Object:  Table [dbo].[NHA_CC]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[NHA_CC]
GO
/****** Object:  Table [dbo].[LOAI_HANG_HOA]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[LOAI_HANG_HOA]
GO
/****** Object:  Table [dbo].[KHO]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[KHO]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[KHACH_HANG]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[HOA_DON]
GO
/****** Object:  Table [dbo].[HANG_HOA]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[HANG_HOA]
GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[DONDH]
GO
/****** Object:  Table [dbo].[CT_PHIEU_NHAP]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[CT_PHIEU_NHAP]
GO
/****** Object:  Table [dbo].[CT_HOA_DON]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[CT_HOA_DON]
GO
/****** Object:  Table [dbo].[CT_DDH]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[CT_DDH]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP TABLE [dbo].[CHINHANH]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP SCHEMA [MSmerge_PAL_role]
GO

DECLARE @RoleName sysname
set @RoleName = N'MSmerge_PAL_role'

IF @RoleName <> N'public' and (select is_fixed_role from sys.database_principals where name = @RoleName) = 0
BEGIN
	DECLARE @RoleMemberName sysname
	DECLARE Member_Cursor CURSOR FOR
	select [name]
	from sys.database_principals 
	where principal_id in ( 
		select member_principal_id
		from sys.database_role_members
		where role_principal_id in (
			select principal_id
			FROM sys.database_principals where [name] = @RoleName AND type = 'R'))

	OPEN Member_Cursor;

	FETCH NEXT FROM Member_Cursor
	into @RoleMemberName
	
	DECLARE @SQL NVARCHAR(4000)

	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		SET @SQL = 'ALTER ROLE '+ QUOTENAME(@RoleName,'[') +' DROP MEMBER '+ QUOTENAME(@RoleMemberName,'[')
		EXEC(@SQL)
		
		FETCH NEXT FROM Member_Cursor
		into @RoleMemberName
	END;

	CLOSE Member_Cursor;
	DEALLOCATE Member_Cursor;
END
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP ROLE [MSmerge_PAL_role]
GO

DECLARE @RoleName sysname
set @RoleName = N'MSmerge_DEEB6F49EBA249EB94FE847AB9BEA987'

IF @RoleName <> N'public' and (select is_fixed_role from sys.database_principals where name = @RoleName) = 0
BEGIN
	DECLARE @RoleMemberName sysname
	DECLARE Member_Cursor CURSOR FOR
	select [name]
	from sys.database_principals 
	where principal_id in ( 
		select member_principal_id
		from sys.database_role_members
		where role_principal_id in (
			select principal_id
			FROM sys.database_principals where [name] = @RoleName AND type = 'R'))

	OPEN Member_Cursor;

	FETCH NEXT FROM Member_Cursor
	into @RoleMemberName
	
	DECLARE @SQL NVARCHAR(4000)

	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		SET @SQL = 'ALTER ROLE '+ QUOTENAME(@RoleName,'[') +' DROP MEMBER '+ QUOTENAME(@RoleMemberName,'[')
		EXEC(@SQL)
		
		FETCH NEXT FROM Member_Cursor
		into @RoleMemberName
	END;

	CLOSE Member_Cursor;
	DEALLOCATE Member_Cursor;
END
/****** Object:  DatabaseRole [MSmerge_DEEB6F49EBA249EB94FE847AB9BEA987]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP ROLE [MSmerge_DEEB6F49EBA249EB94FE847AB9BEA987]
GO

DECLARE @RoleName sysname
set @RoleName = N'MSmerge_653CBB9AAA7F483280AF6253C9337E75'

IF @RoleName <> N'public' and (select is_fixed_role from sys.database_principals where name = @RoleName) = 0
BEGIN
	DECLARE @RoleMemberName sysname
	DECLARE Member_Cursor CURSOR FOR
	select [name]
	from sys.database_principals 
	where principal_id in ( 
		select member_principal_id
		from sys.database_role_members
		where role_principal_id in (
			select principal_id
			FROM sys.database_principals where [name] = @RoleName AND type = 'R'))

	OPEN Member_Cursor;

	FETCH NEXT FROM Member_Cursor
	into @RoleMemberName
	
	DECLARE @SQL NVARCHAR(4000)

	WHILE @@FETCH_STATUS = 0
	BEGIN
		
		SET @SQL = 'ALTER ROLE '+ QUOTENAME(@RoleName,'[') +' DROP MEMBER '+ QUOTENAME(@RoleMemberName,'[')
		EXEC(@SQL)
		
		FETCH NEXT FROM Member_Cursor
		into @RoleMemberName
	END;

	CLOSE Member_Cursor;
	DEALLOCATE Member_Cursor;
END
/****** Object:  DatabaseRole [MSmerge_653CBB9AAA7F483280AF6253C9337E75]    Script Date: 12/12/2022 11:13:21 PM ******/
DROP ROLE [MSmerge_653CBB9AAA7F483280AF6253C9337E75]
GO
/****** Object:  DatabaseRole [MSmerge_653CBB9AAA7F483280AF6253C9337E75]    Script Date: 12/12/2022 11:13:21 PM ******/
CREATE ROLE [MSmerge_653CBB9AAA7F483280AF6253C9337E75]
GO
/****** Object:  DatabaseRole [MSmerge_DEEB6F49EBA249EB94FE847AB9BEA987]    Script Date: 12/12/2022 11:13:21 PM ******/
CREATE ROLE [MSmerge_DEEB6F49EBA249EB94FE847AB9BEA987]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 12/12/2022 11:13:21 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_653CBB9AAA7F483280AF6253C9337E75]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_DEEB6F49EBA249EB94FE847AB9BEA987]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 12/12/2022 11:13:21 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[CHINHANH]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHINHANH](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](50) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_5481B0A0B7344061B480CFF1F85BBDE3]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_CHINHANH] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_DDH]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DDH](
	[MADDH] [int] NOT NULL,
	[MAHH] [int] NOT NULL,
	[SO_LUONG] [int] NULL,
	[DON_GIA] [money] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_DDH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HOA_DON]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOA_DON](
	[MAHD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MAHH] [int] NOT NULL,
	[SO_LUONG] [int] NULL,
	[DON_GIA] [money] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PHIEU_NHAP]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEU_NHAP](
	[MAHH] [int] NOT NULL,
	[SOPN] [int] NOT NULL,
	[SO_LUONG] [int] NULL,
	[DON_GIA] [money] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CT_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC,
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDH]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDH](
	[MADDH] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[MANCC] [int] NOT NULL,
	[MANV] [int] NOT NULL,
	[NGAY_LAP] [date] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DONDH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANG_HOA]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG_HOA](
	[MAHH] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TENHH] [nvarchar](50) NULL,
	[DVT] [nvarchar](10) NULL,
	[MALHH] [nchar](10) NULL,
	[SO_LUONG_TON] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HANG_HOA] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MAHD] [int] NOT NULL,
	[NGAY_LAP] [date] NULL,
	[MANV] [int] NULL,
	[MAKH] [int] NULL,
	[MAKHO] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nchar](15) NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHO]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[MAKHO] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI_HANG_HOA]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_HANG_HOA](
	[MALHH] [nchar](10) NOT NULL,
	[TENLHH] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_LOAI_HANG_HOA] PRIMARY KEY CLUSTERED 
(
	[MALHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHA_CC]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CC](
	[MANCC] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIA_CHI] [nvarchar](50) NULL,
	[SDT] [nchar](15) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NHA_CC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](50) NULL,
	[PHAI] [nvarchar](5) NULL CONSTRAINT [DF_NHAN_VIEN_PHAI]  DEFAULT (N'NAM'),
	[NGAY_SINH] [date] NULL,
	[DIA_CHI] [nvarchar](50) NULL,
	[SDT] [nchar](15) NULL,
	[MACN] [nchar](10) NOT NULL,
	[DA_CHUYEN] [bit] NULL CONSTRAINT [DF_NHAN_VIEN_DA_CHUYEN]  DEFAULT ((0)),
	[DA_XOA] [bit] NULL CONSTRAINT [DF_NHAN_VIEN_DA_XOA]  DEFAULT ((0)),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_CAC9EF21BFDC47C2BEA25A2E0C5FF3FB]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[SOPN] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[NGAY_LAP] [date] NULL,
	[MANV] [int] NULL,
	[MADDH] [int] NULL,
	[MAKHO] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[V_DS_PHANMANH1]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[V_DS_PHANMANH1]
AS

SELECT        PUB.name AS TENPUB, SUBS.subscriber_server AS TENSERVER , REPLACE(REPLACE(ARTS.subset_filterclause,'[MACN]=''',''),'''','') AS DIEUKIEN , CHINHANH.TENCN

FROM                     ((dbo.sysmergearticles AS ARTS INNER JOIN dbo.sysmergepublications AS PUB on ARTS.pubid = PUB.pubid) 
                      INNER JOIN  dbo.sysmergesubscriptions AS SUBS ON PUB.pubid = SUBS.pubid) , CHINHANH
					  
WHERE        (SUBS.subscriber_server <> @@SERVERNAME) AND (SUBS.subscriber_server <> 'DESKTOP-GAC26FA\CSDL3') AND (ARTS.subset_filterclause<>'' OR ARTS.subset_filterclause<>NULL) 
            and REPLACE('[MACN]='''+CHINHANH.MACN+'''' , ' ', '')=REPLACE(ARTS.subset_filterclause , ' ', '')

GO
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [rowguid]) VALUES (N'CN1       ', N'CHI NHÁNH 1', N'f17c17de-cc68-ed11-91e5-089798f00a1f')
INSERT [dbo].[CHINHANH] ([MACN], [TENCN], [rowguid]) VALUES (N'CN2       ', N'CHI NHÁNH 2', N'f27c17de-cc68-ed11-91e5-089798f00a1f')
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] ON 

INSERT [dbo].[NHAN_VIEN] ([MANV], [HO], [TEN], [PHAI], [NGAY_SINH], [DIA_CHI], [SDT], [MACN], [DA_CHUYEN], [DA_XOA], [rowguid]) VALUES (1, N'NGUYEN', N'CHI', N'NAM', CAST(N'2000-01-01' AS Date), N'DAK LAK', N'1              ', N'CN1       ', 0, 0, N'f37c17de-cc68-ed11-91e5-089798f00a1f')
INSERT [dbo].[NHAN_VIEN] ([MANV], [HO], [TEN], [PHAI], [NGAY_SINH], [DIA_CHI], [SDT], [MACN], [DA_CHUYEN], [DA_XOA], [rowguid]) VALUES (2, N'NGUYEN', N'NHI', N'NỮ', CAST(N'2000-02-01' AS Date), N'DAK LAK', N'1              ', N'CN1       ', 0, 0, N'f47c17de-cc68-ed11-91e5-089798f00a1f')
INSERT [dbo].[NHAN_VIEN] ([MANV], [HO], [TEN], [PHAI], [NGAY_SINH], [DIA_CHI], [SDT], [MACN], [DA_CHUYEN], [DA_XOA], [rowguid]) VALUES (5, N'NGUYEN', N'YEN', N'NAM', CAST(N'2000-02-01' AS Date), N'DAK LAK', N'1              ', N'CN1       ', 0, 0, N'f57c17de-cc68-ed11-91e5-089798f00a1f')
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] OFF
/****** Object:  Index [UK_HANG_HOA]    Script Date: 12/12/2022 11:13:21 PM ******/
ALTER TABLE [dbo].[HANG_HOA] ADD  CONSTRAINT [UK_HANG_HOA] UNIQUE NONCLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DDH] ADD  CONSTRAINT [MSmerge_df_rowguid_7E241C13F8D24D38A068FE4CCA90ED1B]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_HOA_DON] ADD  CONSTRAINT [MSmerge_df_rowguid_B6133DB3E8A04533BB93D666C93C64CE]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP] ADD  CONSTRAINT [MSmerge_df_rowguid_AA2C1E99D32643E18208EDFC7847DA96]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DONDH] ADD  CONSTRAINT [DF_DONDH_NGAY_LAP]  DEFAULT (getdate()) FOR [NGAY_LAP]
GO
ALTER TABLE [dbo].[DONDH] ADD  CONSTRAINT [MSmerge_df_rowguid_589E2E0BF6F945BEB8A4FD7CF4A648B2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HANG_HOA] ADD  CONSTRAINT [DF_HANG_HOA_SO_LUOng_TON]  DEFAULT ((0)) FOR [SO_LUONG_TON]
GO
ALTER TABLE [dbo].[HANG_HOA] ADD  CONSTRAINT [MSmerge_df_rowguid_E7CCE131763547ABBE69DF2A6C460A19]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [DF_HOA_DON_NGAY_LAP]  DEFAULT (getdate()) FOR [NGAY_LAP]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  CONSTRAINT [MSmerge_df_rowguid_54CB2D51A4B7468A952EEB39113F9579]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [MSmerge_df_rowguid_3D375A096C2245599FFEF77DABF35B36]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHO] ADD  CONSTRAINT [MSmerge_df_rowguid_5D84F19FA21047B5B841A513BB697974]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LOAI_HANG_HOA] ADD  CONSTRAINT [MSmerge_df_rowguid_BC6E610334B0481989376EDD96B6E1CD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHA_CC] ADD  CONSTRAINT [MSmerge_df_rowguid_B8FADDF83EA542CDA94D4D656DAE38C8]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] ADD  CONSTRAINT [DF_PHIEU_NHAP_NGAY_LAP]  DEFAULT (getdate()) FOR [NGAY_LAP]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] ADD  CONSTRAINT [MSmerge_df_rowguid_8BF812B440174BF6BBC7DBBA4A53E68A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CT_DDH]  WITH CHECK ADD  CONSTRAINT [FK_CT_DDH_DONDH] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDH] ([MADDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DDH] CHECK CONSTRAINT [FK_CT_DDH_DONDH]
GO
ALTER TABLE [dbo].[CT_DDH]  WITH CHECK ADD  CONSTRAINT [FK_CT_DDH_HANG_HOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANG_HOA] ([MAHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_DDH] CHECK CONSTRAINT [FK_CT_DDH_HANG_HOA]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOA_DON_HANG_HOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANG_HOA] ([MAHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [FK_CT_HOA_DON_HANG_HOA]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOA_DON_HOA_DON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOA_DON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [FK_CT_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_NHAP_HANG_HOA] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANG_HOA] ([MAHH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP] CHECK CONSTRAINT [FK_CT_PHIEU_NHAP_HANG_HOA]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_PHIEU_NHAP_PHIEU_NHAP] FOREIGN KEY([SOPN])
REFERENCES [dbo].[PHIEU_NHAP] ([SOPN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP] CHECK CONSTRAINT [FK_CT_PHIEU_NHAP_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD  CONSTRAINT [FK_DONDH_NHA_CC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CC] ([MANCC])
GO
ALTER TABLE [dbo].[DONDH] CHECK CONSTRAINT [FK_DONDH_NHA_CC]
GO
ALTER TABLE [dbo].[DONDH]  WITH CHECK ADD  CONSTRAINT [FK_DONDH_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DONDH] CHECK CONSTRAINT [FK_DONDH_NHAN_VIEN]
GO
ALTER TABLE [dbo].[HANG_HOA]  WITH CHECK ADD  CONSTRAINT [FK_HANG_HOA_LOAI_HANG_HOA] FOREIGN KEY([MALHH])
REFERENCES [dbo].[LOAI_HANG_HOA] ([MALHH])
GO
ALTER TABLE [dbo].[HANG_HOA] CHECK CONSTRAINT [FK_HANG_HOA_LOAI_HANG_HOA]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHO]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_NHAN_VIEN]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_CHINHANH]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_CHINHANH] FOREIGN KEY([MACN])
REFERENCES [dbo].[CHINHANH] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_CHINHANH]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_DONDH] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDH] ([MADDH])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_DONDH]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_KHO] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHO] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_KHO]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NHAN_VIEN]
GO
ALTER TABLE [dbo].[CT_DDH]  WITH CHECK ADD  CONSTRAINT [CK_CTDDH_DONDIA] CHECK  (([DON_GIA]>(0)))
GO
ALTER TABLE [dbo].[CT_DDH] CHECK CONSTRAINT [CK_CTDDH_DONDIA]
GO
ALTER TABLE [dbo].[CT_DDH]  WITH CHECK ADD  CONSTRAINT [CK_CTDDH_SOLUONG] CHECK  (([SO_LUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DDH] CHECK CONSTRAINT [CK_CTDDH_SOLUONG]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_HD_DON_GIA] CHECK  (([DON_GIA]>(0)))
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [CK_HD_DON_GIA]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH CHECK ADD  CONSTRAINT [CK_HD_SOLUONG] CHECK  (([SO_LUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [CK_HD_SOLUONG]
GO
ALTER TABLE [dbo].[CT_HOA_DON]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_5B99B47F_9589_460B_A8E8_2FD319CF56E7] CHECK NOT FOR REPLICATION (([MAHD]>=(1) AND [MAHD]<=(1001) OR [MAHD]>(1001) AND [MAHD]<=(2001)))
GO
ALTER TABLE [dbo].[CT_HOA_DON] CHECK CONSTRAINT [repl_identity_range_5B99B47F_9589_460B_A8E8_2FD319CF56E7]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [CK_CTPN_DONGIA] CHECK  (([DON_GIA]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP] CHECK CONSTRAINT [CK_CTPN_DONGIA]
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [CK_CTPN_SOLUONG] CHECK  (([SO_LUONG]>(0)))
GO
ALTER TABLE [dbo].[CT_PHIEU_NHAP] CHECK CONSTRAINT [CK_CTPN_SOLUONG]
GO
ALTER TABLE [dbo].[DONDH]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_94FD036D_05EF_48F5_8139_F2C51FCCF485] CHECK NOT FOR REPLICATION (([MADDH]>=(1) AND [MADDH]<=(1001) OR [MADDH]>(1001) AND [MADDH]<=(2001)))
GO
ALTER TABLE [dbo].[DONDH] CHECK CONSTRAINT [repl_identity_range_94FD036D_05EF_48F5_8139_F2C51FCCF485]
GO
ALTER TABLE [dbo].[HANG_HOA]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_4C8686AD_B821_4EE3_BA4C_E56B85C02C78] CHECK NOT FOR REPLICATION (([MAHH]>=(1) AND [MAHH]<=(1001) OR [MAHH]>(1001) AND [MAHH]<=(2001)))
GO
ALTER TABLE [dbo].[HANG_HOA] CHECK CONSTRAINT [repl_identity_range_4C8686AD_B821_4EE3_BA4C_E56B85C02C78]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_D589897E_644F_45DC_BDCC_2C82EB657AEE] CHECK NOT FOR REPLICATION (([MAKH]>=(1) AND [MAKH]<=(1001) OR [MAKH]>(1001) AND [MAKH]<=(2001)))
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [repl_identity_range_D589897E_644F_45DC_BDCC_2C82EB657AEE]
GO
ALTER TABLE [dbo].[KHO]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_52ED1E61_4993_40A4_AE56_AEA7CFF7B853] CHECK NOT FOR REPLICATION (([MAKHO]>=(1) AND [MAKHO]<=(1001) OR [MAKHO]>(1001) AND [MAKHO]<=(2001)))
GO
ALTER TABLE [dbo].[KHO] CHECK CONSTRAINT [repl_identity_range_52ED1E61_4993_40A4_AE56_AEA7CFF7B853]
GO
ALTER TABLE [dbo].[NHA_CC]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_B19FA8FD_ADB0_4335_9403_14CF088814EB] CHECK NOT FOR REPLICATION (([MANCC]>=(1) AND [MANCC]<=(1001) OR [MANCC]>(1001) AND [MANCC]<=(2001)))
GO
ALTER TABLE [dbo].[NHA_CC] CHECK CONSTRAINT [repl_identity_range_B19FA8FD_ADB0_4335_9403_14CF088814EB]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [CK_NGAY_SINH] CHECK  (([NGAY_SINH]<getdate()))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [CK_NGAY_SINH]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [CK_NHAN_VIEN] CHECK  (([PHAI]=N'NAM' OR [PHAI]=N'NỮ'))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [CK_NHAN_VIEN]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_6D4960E5_E545_47B3_B0E2_9DF2D23930BA] CHECK NOT FOR REPLICATION (([MANV]>(7) AND [MANV]<=(1007) OR [MANV]>(1007) AND [MANV]<=(2007)))
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [repl_identity_range_6D4960E5_E545_47B3_B0E2_9DF2D23930BA]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_89237556_5394_4158_BA3F_10923592A674] CHECK NOT FOR REPLICATION (([SOPN]>=(1) AND [SOPN]<=(1001) OR [SOPN]>(1001) AND [SOPN]<=(2001)))
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [repl_identity_range_89237556_5394_4158_BA3F_10923592A674]
GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 12/12/2022 11:13:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM NHAN_VIEN  WHERE MANV = @TENUSER ),
   TENNHOM= NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
